@-moz-document domain("www.memrise.com") {
/*! Memrise Flat */

/* Repository: https://github.com/StylishThemes/GitHub-Dark    */
/* Userstyle:  http://userstyles.org/styles/37035              */
/* License:    https://github.com/jakeoid/memrise-flat/blob/master/LICENSE */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/** GLOBAL **/

body,html {
 	background-image: none;   
}

/** HEADER **/

.header-v2, #page-head {
    box-shadow: none;
    background: #7757A8;
}

/** TABBED **/

.tabbed-main h1 {
 	color: #FFFFFF;   
}

.courses-filter-container .select-container select {
    height: 38px;
}

.courses-filter-container .title-container {
 	margin: 0px;   
}

.tabbed-main {
 	display: flex;
    flex-direction: row;
}

.tabbed-main > div {
    width: 50%;
}

.tabbed-main .right {
 	display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
}

.tabbed-main .right .button {
 	-webkit-animation: fadein .2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .2s; /* Firefox < 16 */
    -ms-animation: fadein .2s; /* Internet Explorer */
    -o-animation: fadein .2s; /* Opera < 12.1 */
    animation: fadein .2s;   
}

/** BUTTON **/

.button {
    max-height: 22px;
    box-shadow: none !important;
    border: none !important;
    padding: 8px 22px !important;
    text-shadow: none !important;
    background-image: none !important;
}

.button:hover {
 	background-image: none !important;   
}

.simple-btn {
 	box-shadow: none !important;   
    border-radius: 2px;
}


/** SELECT **/

select {
	box-shadow: none !important;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
}

select:hover, select:active, select:focus {
    outline: none;
}	

/** NAV **/

.header-nav .header-nav-item.plain,
.header-nav .header-nav-item.plain:hover {
 	box-shadow: none !important; 
}

.header-nav .header-nav-item a span {
 	  
    text-shadow: none !important;
    
}

.header-profile-wrapper .header-info-card .info-card-inner .info-card-picture .profile-avatar,
.header-profile-wrapper .header-info-card .info-card-inner .info-card-picture .profile-avatar:hover,
.header-nav .header-nav-item.premium, 
.header-nav .header-nav-item.premium:hover {
    box-shadow: none;
}

.header-nav .header-nav-item.premium,
.header-nav .header-nav-item.premium:hover {
 	background-image: none;   
}

.header-dropdown-arrow {
 	opacity: 0;   
}

.header-profile-inner .profile-row.profile-details {
 	background: #FFFFFF;   
}

/** SIDEBAR **/

	/** STATS **/

.sidebar-profile .profile-content .content-stats {
 	height: 120px;   
}

.sidebar-profile .profile-content .content-stats .left, .sidebar-profile .profile-content .content-stats .right {
 	width: 100%;
}

.sidebar-profile .profile-content .content-stats .right {
 	margin: 1rem 0rem 0rem 0rem;   
}

.sidebar-profile .profile-content .content-stats .center {
	display: none;
}

.sidebar-main-btn .simple {
 	text-decoration: none !important;   
}

.sidebar-profile .profile-header .image-wrapper img {
 	box-shadow: none;   
}

/** PREMIUM **/

	/** NAVIGATION **/

.header-nav .header-nav-item.premium {
 	display: none;   
}

	/** SIDEBAR **/

.sidebar-box.sidebar-premium {
 	display: none;   
}

/** COURSES **/

.course-card-container .course-progress-box,
.course-card-container .course-progress-box .card-bottom,
.course-card-container .course-progress-box .card-top .card-image-col .img-crop, 
.course-card-container .course-progress-box .card-top .card-image-col .img-crop:hover,
.course-card-container .course-progress-box .card-top .card-main-container .goal-setter-btn.active,
.course-card-container .goal-setter .streak-row .streak-fake-btn, 
.course-card-container .course-progress-box .card-top .card-main-container .course-progress .progress-bar-container,
.course-card-container .course-progress-box .card-top .card-main-container .course-progress .progress-bar-container .progress-bar,
.course-card-container .goal-setter {
 	box-shadow: none;   
}

.course-card-container {
 	
 	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;      
}

.course-card-container .course-progress-box .card-bottom {
    background: none;
}

.course-card-container .course-progress-box .card-bottom .course-actions {
 	height: 38px;   
}

.course-card-container .course-progress-box .card-bottom .course-actions .button {
 	display: inline-flex;
    align-items: center;
    
    text-align: center;
    
    padding: 0px 10px !important;
    height: 38px !important;
    max-height: 38px !important;
    min-width: 0px !important;
}

	/** LOADING **/

.loading-wrapper {
 	display: none;   
}

.course-cards-component,
.dashboard section {
 	width: 100%;   
}

/** PAGE-TITLE **/

#page-head .inner .page-breadcrumb {
 	color: #FFFFFF;   
}

#page-head .button {
 	min-height: 40px;   
    line-height: 25px;
}

/** SIDEBAR **/

.sidebar-box,
.leaderboard {
 	box-shadow: none;
    border: none;
    border-radius: 2px;
}

.countdown-body .countdown-duration .time-block,
.leaderboard .leaderboard-content .leaderboard-rows .leaderboard-row,
.leaderboard .leaderboard-header {
 	box-shadow: none;   
    border: none;
    text-shadow: none;
}

.full-width {
	box-shadow: none;
    border: none;
}
}

@-moz-document domain("www.memrise.com") {
.reverse-header-ruled #page-head {
 	background-image: none; 
    background: #7757A8;
}

.reverse-header-ruled #page-head a:not(.button) {
 	text-shadow: none;   
}

.course-breadcrumb {
 	border: none !important;
    box-shadow: none !important;
}
}

@-moz-document domain("www.memrise.com") {
/** 

REVIEW PAGE CSS.

@use-case: memrise.com/course/____/garden/review;

**/

/** GLOBAL **/

body {
 	background-image: none;   
}

/** NAVBAR **/

.session-header {
 	box-shadow: none;   
}

.session-header .header-block.header-left,
.session-header .header-block.header-right,
.session-header .header-block.header-left .session-pause-wrapper {
 	border: none;   
}

.session-header .header-block.header-middle .course-details-wrapper .header-points .points-num,
.session-header .header-block.header-right .header-user .user-picture img,
.session-header .header-block.header-middle .course-details-wrapper .course-details .course-info,
.session-header .header-block.header-middle .course-details-wrapper .course-details .course-title,
.session-header .header-block.header-middle .bar-wrapper,
.session-header .header-block.header-middle .bar-wrapper .bar {
 	box-shadow: none;
    text-shadow: none;
}

.session-header .header-block.header-left .session-pause-wrapper i:hover {
    transform: scale(1.0, 1.0);
}

/** END CONTENT **/

#forest-banner {
 	background: none; 
    height: 100%;
}

#forest-banner p {
 	margin: 0px;   
}

#forest-banner {
 	display: flex;
    justify-content: center; 
    align-items: center;
}

body .stripes {
 	background: none;
    background-image: none;
}
}